rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // User data is scoped to their authenticated User ID
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Allow user to read/write all nested subcollections
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
